<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <form action ="/login" method ="POST">
        <input type="text" placeholder="User" name="login_username" required ><br><br>
        <input type="password" placeholder="password" name="login_password" required ><br><br>
        <input type="submit" value ="Submit">
        <input type ="reset" value = "Reset">
        

    </form>
    <div>
        <h1 id = "first-h1">test thu css</h1>
        <br>
        <h1 id = "second-h1">TEST LAN 2 </h1>
        <h2 class="text-blue"> DAY la the h2 </h2>
        <h5 class="text-blue"> DAY la the h5 </h5>
        <h6 class="text-blue"> DAY la the h6 </h6>
    </div>
    
</body>
</html>