<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>

    <form action ="/login" method ="POST">
        <input type="text" placeholder="User" name="login_user" required ><br><br>
        <input type="password" placeholder="password" name="login_pass" required ><br><br>
        <input type="submit" value ="Submit">
        <input type ="reset" value = "Reset">
        

    </form>
    <br><br><br>
    <form action="/register"   method ="POST">
        <input type="text" placeholder="User" name="register_user" required ><br><br>
        <input type="password" placeholder="password" name="register_pass" required ><br><br>
        <input type="submit" value ="Dangki">
        <input type ="reset" value = "Reset">
        

    </form>
</body>
</html>