<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xe motor</title>
</head>
<body>
    <form method="POST">
        <label>Model</label>   
        <input type = "text" placeholder="e.g.Honda" name = 'hang' required ><br><br>
        <label>Daily fee(VND)</label>
        <input type = "text" placeholder="100000" name = 'fee' required ><br><br>
        <label>Image</label>
        <input type = "text" placeholder="e.g https://hondaxemay/..." name = 'link' required ><br><br>
        <label>Year</label>
        <input type = "text" placeholder="e.g. 2013" name = 'year' required ><br><br>
        
        <button>Submit</button>

    </form>
    
</body>
</html>