<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xe motor</title>
    <link rel="stylesheet" href="../static/css/motor_edit.css">
</head>
<body>
    <div>
        <form method="POST">
            <label>Model</label><br>   
            <input type = "text" placeholder="e.g.Honda" name = 'hang' required ><br>
            <label>Daily fee(VND)</label><br>
            <input type = "text" placeholder="100000" name = 'fee' required ><br>
            <label>Image</label><br>
            <input type = "text" placeholder="e.g https://hondaxemay/..." name = 'link' required ><br>
            <label>Year</label><br>
            <input type = "text" placeholder="e.g. 2013" name = 'year' required ><br>
            <br>
            <button>Submit</button>

        </form>
    </div>
    
</body>
</html>